In [22]:
import pandas as pd
import numpy as np
import sklearn

In [23]:
df = pd.read_csv(r'C:/Users/Vishal/Desktop/Dissertation/Datasets/EPL 2018-2024.csv', encoding='latin')
df

,Week,Date,Time,Home_Team,Home_xG,Score,Away_xG,Away_Team,Attendance,Venue,Referee,Season,Name
0,38,28-05-2023,16:30:00,Crystal Palace,1.4,11,0.5,Nott'ham Forest,25198.0,Selhurst Park,Thomas Bramall,2022-2023,Table1
1,38,28-05-2023,16:30:00,Chelsea,2.2,11,1.7,Newcastle Utd,40130.0,Stamford Bridge,Jarred Gillett,2022-2023,Table1
2,38,28-05-2023,16:30:00,Manchester Utd,2.9,21,1.8,Fulham,73465.0,Old Trafford,Robert Jones,2022-2023,Table1
3,38,28-05-2023,16:30:00,Arsenal,2.8,50,0.5,Wolves,60095.0,Emirates Stadium,Andre Marriner,2022-2023,Table1
4,38,28-05-2023,16:30:00,Southampton,1.8,44,4.0,Liverpool,31129.0,St. Mary's Stadium,Darren England,2022-2023,Table1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,38,19-05-2024,NaN,Crystal Palace,NaN,NaN,NaN,Aston Villa,NaN,Selhurst Park,NaN,2023-2024,Table2
2276,38,19-05-2024,NaN,Liverpool,NaN,NaN,NaN,Wolves,NaN,Anfield,NaN,2023-2024,Table2
2277,38,19-05-2024,NaN,Luton,NaN,NaN,NaN,Fulham,NaN,Kenilworth Road,NaN,2023-2024,Table2
2278,38,19-05-2024,NaN,Man City,NaN,NaN,NaN,West Ham,NaN,Etihad Stadium,NaN,2023-2024,Table2
2279,38,19-05-2024,NaN,Sheffield Utd,NaN,NaN,NaN,Spurs,NaN,Bramall Lane,NaN,2023-2024,Table2

In [24]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [25]:
pd.options.display.max_rows = 100    # Show up to 100 rows
pd.options.display.max_columns = 50   # Show up to 50 columns
pd.set_option('display.max_colwidth', None) # Show all contents in the cells

In [26]:
# Example DataFrame setup
# You will replace this part with your actual data loading mechanism
data = {
    'Home_Team': np.random.randint(1, 21, size=1000),
    'Away_Team': np.random.randint(1, 21, size=1000),
    'Home_Team_Score': np.random.randint(0, 5, size=1000),
    'Away_Team_Score': np.random.randint(0, 5, size=1000)
}
df = pd.DataFrame(data)
df

     Home_Team  Away_Team  Home_Team_Score  Away_Team_Score
0           12         14                4                2
1           14         10                0                4
2           18         15                3                3
3           18          9                2                0
4           12         15                3                3
..         ...        ...              ...              ...
995         20         19                3                4
996          1          1                1                4
997          1          3                0                0
998         12         10                3                0
999          7         18                3                4

[1000 rows x 4 columns]

In [27]:

# Preprocessing: converting team identifiers to categorical variables
df['Home_Team'] = df['Home_Team'].astype('category')
df['Away_Team'] = df['Away_Team'].astype('category')

# Create dummy variables
df = pd.get_dummies(df, columns=['Home_Team', 'Away_Team'])

df

,Home_Team_Score,Away_Team_Score,Home_Team_1,Home_Team_2,Home_Team_3,Home_Team_4,Home_Team_5,Home_Team_6,Home_Team_7,Home_Team_8,Home_Team_9,Home_Team_10,Home_Team_11,Home_Team_12,Home_Team_13,Home_Team_14,Home_Team_15,Home_Team_16,Home_Team_17,Home_Team_18,Home_Team_19,Home_Team_20,Away_Team_1,Away_Team_2,Away_Team_3,Away_Team_4,Away_Team_5,Away_Team_6,Away_Team_7,Away_Team_8,Away_Team_9,Away_Team_10,Away_Team_11,Away_Team_12,Away_Team_13,Away_Team_14,Away_Team_15,Away_Team_16,Away_Team_17,Away_Team_18,Away_Team_19,Away_Team_20
0,4,2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,0,4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,3,3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,2,0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,3,3,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
996,1,4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,0,0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,3,0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
999,3,4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [28]:
# Splitting features and target variables
X = df.drop(['Home_Team_Score', 'Away_Team_Score'], axis=1)
y = df[['Home_Team_Score', 'Away_Team_Score']]

In [29]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
# Model training
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [31]:
# Make predictions
y_pred = model.predict(X_test)
y_pred

array([[2.11002381, 3.26834127],
       [1.67761905, 2.30286905],
       [1.65409524, 1.74903571],
       [2.63783333, 1.93883333],
       [2.09465945, 1.66036688],
       [1.67644589, 3.25872078],
       [2.30449206, 2.2285873 ],
       [2.10566667, 2.09433333],
       [2.30665873, 3.23452381],
       [2.1659798 , 1.88389791],
       [0.77844444, 1.93141667],
       [2.05181746, 1.53210714],
       [3.21009524, 1.27110317],
       [1.18708333, 2.37458333],
       [1.99333333, 2.03258333],
       [0.81278571, 2.24297619],
       [1.885     , 3.23438889],
       [2.27815476, 2.29278571],
       [1.74492063, 1.78761905],
       [2.95036508, 0.96442063],
       [1.58383333, 0.857     ],
       [3.28601984, 2.68926984],
       [2.28619048, 2.19704762],
       [1.0597381 , 2.50104762],
       [1.40396825, 1.9960873 ],
       [2.28619048, 2.19704762],
       [2.83107143, 0.64058333],
       [2.4407381 , 2.38245238],
       [2.40718074, 1.61156349],
       [3.49535714, 2.69522619],
       [2.61615476, 1.28116667],
       [3.45766667, 1.42616667],
       [2.55233333, 1.105     ],
       [3.69055556, 0.33838889],
       [1.33678571, 0.83453571],
       [0.72071429, 1.17307143],
       [2.95916667, 3.26916667],
       [2.48141667, 1.53616667],
       [2.3942417 , 1.91369553],
       [3.28601984, 2.68926984],
       [1.05428571, 2.99388095],
       [2.388     , 2.52183333],
       [2.47390476, 2.456     ],
       [2.20679762, 1.7550119 ],
       [1.92185714, 0.94821429],
       [2.30449206, 2.2285873 ],
       [2.388     , 2.52183333],
       [1.82763203, 1.94866667],
       [2.0187381 , 2.332     ],
       [1.80014286, 3.75166667],
       [2.84686905, 2.85461905],
       [1.19816667, 2.49466667],
       [1.1965    , 0.80083333],
       [2.92228571, 2.85904762],
       [1.07466667, 2.06066667],
       [2.04176984, 1.84187302],
       [3.33331746, 1.42296032],
       [2.09149206, 1.92305159],
       [2.29785714, 0.73428571],
       [2.15179762, 2.69992857],
       [2.81730952, 2.68092857],
       [1.79852742, 1.546829  ],
       [2.01666667, 2.39185714],
       [1.027     , 3.16766667],
       [1.719     , 2.308     ],
       [0.30877778, 1.98066667],
       [1.47427778, 3.13027778],
       [2.10566667, 2.09433333],
       [0.76658333, 1.80908333],
       [1.18708333, 2.37458333],
       [1.32366667, 3.46522222],
       [3.069     , 1.881     ],
       [1.18708333, 2.37458333],
       [0.76658333, 1.80908333],
       [1.67644589, 3.25872078],
       [1.81861905, 2.17060714],
       [1.51495238, 1.83161905],
       [1.99261905, 0.52807143],
       [1.99849206, 2.15494048],
       [1.68304365, 2.08461508],
       [2.59202381, 0.94690476],
       [2.17157937, 2.54893651],
       [2.40718074, 1.61156349],
       [0.285     , 2.845     ],
       [0.8202619 , 3.27932143],
       [0.37295238, 1.85842857],
       [2.46584127, 1.63896032],
       [3.42003175, 2.41625397],
       [1.17361905, 1.25665476],
       [2.00169048, 3.70971429],
       [1.95355556, 1.44203175],
       [2.12722619, 1.17309524],
       [1.17361905, 1.25665476],
       [2.70779762, 1.52167857],
       [1.70683333, 1.99885714],
       [2.57364394, 0.79741667],
       [3.22891667, 1.68742857],
       [2.6537619 , 0.88001587],
       [2.28619048, 2.19704762],
       [1.47602381, 1.12630952],
       [2.863     , 1.71533333],
       [1.99085714, 3.63469048],
       [2.96952381, 2.01492857],
       [2.42769048, 3.30804762],
       [2.0702619 , 0.67879762],
       [0.56322727, 2.665     ],
       [1.33678571, 0.83453571],
       [1.9305    , 0.76316667],
       [3.14688889, 1.47778175],
       [2.46452381, 0.26404762],
       [2.96233333, 3.04916667],
       [1.85195238, 2.04035714],
       [2.33820238, 1.66989286],
       [2.00783333, 0.8965    ],
       [3.28601984, 2.68926984],
       [1.56704762, 1.22611905],
       [2.87607143, 0.96214286],
       [0.8202619 , 3.27932143],
       [2.34917857, 1.99585714],
       [3.60416667, 2.11202381],
       [1.85088889, 1.02910317],
       [1.38008333, 3.39283333],
       [1.54148413, 0.77906349],
       [3.33258333, 1.85366667],
       [2.5080754 , 2.10465476],
       [1.83866667, 2.35875   ],
       [1.94654582, 2.2434596 ],
       [0.77771429, 1.60988095],
       [3.22891667, 1.68742857],
       [0.98238925, 0.96979473],
       [1.94764225, 1.54826374],
       [1.70683333, 1.99885714],
       [1.56271429, 2.29988095],
       [2.61615476, 1.28116667],
       [1.85195238, 2.04035714],
       [2.84733333, 1.42933333],
       [1.33678571, 0.83453571],
       [2.33820238, 1.66989286],
       [0.75766667, 0.63283333],
       [2.17157937, 2.54893651],
       [2.46569841, 0.95879365],
       [0.77558333, 3.17566667],
       [2.89933333, 0.62533333],
       [1.56704762, 1.22611905],
       [1.77078211, 2.79957468],
       [2.15821068, 1.98506494],
       [1.99333333, 2.03258333],
       [2.388     , 2.52183333],
       [2.20679762, 1.7550119 ],
       [0.168     , 2.795     ],
       [2.64942857, 1.05721429],
       [1.2295    , 2.53883333],
       [1.70371429, 0.70371429],
       [0.67609127, 3.14854365],
       [2.15204762, 2.19966667],
       [0.62458333, 1.93138889],
       [2.31224711, 2.31260823],
       [2.81638095, 2.44464286],
       [2.19214286, 1.28566667],
       [0.94466667, 1.72666667],
       [2.5080754 , 2.10465476],
       [3.04083333, 3.21516667],
       [2.61534921, 2.10289683],
       [0.98238925, 0.96979473],
       [2.34917857, 1.99585714],
       [2.54888095, 1.93288095],
       [2.01933333, 0.26911111],
       [0.77558333, 3.17566667],
       [2.11002381, 3.26834127],
       [2.00169048, 3.70971429],
       [1.91807143, 1.64682937],
       [3.08315476, 1.89166667],
       [1.91978968, 2.15111111],
       [1.52511508, 2.31134127],
       [1.46178571, 1.71380952],
       [2.10682143, 1.60947619],
       [0.72071429, 1.17307143],
       [1.94654582, 2.2434596 ],
       [0.72491667, 3.08453571],
       [3.22247619, 1.23040476],
       [2.49853571, 2.59494048],
       [0.583     , 1.98116667],
       [1.19516667, 2.90916667],
       [1.80499784, 1.29490873],
       [2.57364394, 0.79741667],
       [2.81638095, 2.44464286],
       [3.069     , 1.881     ],
       [2.94971429, 3.30485714],
       [1.5855    , 1.49733333],
       [1.21116667, 2.69430952],
       [3.19442857, 1.76967857],
       [3.32454762, 1.69016667],
       [1.64922161, 1.78812088],
       [2.21122222, 2.2061746 ],
       [2.01107143, 0.4627619 ],
       [3.22247619, 1.23040476],
       [2.15616667, 2.08816667],
       [1.56271429, 2.29988095],
       [2.81730952, 2.68092857],
       [2.34931746, 2.38329365]])

In [32]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"RMSE: {np.sqrt(mse)}")

Mean Squared Error: 2.5409923180694576
RMSE: 1.5940490325173369

In [33]:
# If you want to predict new matches:
df2 = pd.DataFrame(data)
df2 = pd.get_dummies(df2, columns=['Home_Team', 'Away_Team'])
example_new_matches = df2.iloc[56:57].drop(['Home_Team_Score', 'Away_Team_Score'], axis=1)
predictions = model.predict(example_new_matches)
predictions

array([[1.56271429, 2.29988095]])

In [34]:
example_new_matches

,Home_Team_1,Home_Team_2,Home_Team_3,Home_Team_4,Home_Team_5,Home_Team_6,Home_Team_7,Home_Team_8,Home_Team_9,Home_Team_10,Home_Team_11,Home_Team_12,Home_Team_13,Home_Team_14,Home_Team_15,Home_Team_16,Home_Team_17,Home_Team_18,Home_Team_19,Home_Team_20,Away_Team_1,Away_Team_2,Away_Team_3,Away_Team_4,Away_Team_5,Away_Team_6,Away_Team_7,Away_Team_8,Away_Team_9,Away_Team_10,Away_Team_11,Away_Team_12,Away_Team_13,Away_Team_14,Away_Team_15,Away_Team_16,Away_Team_17,Away_Team_18,Away_Team_19,Away_Team_20
56,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [35]:
tmp = pd.read_csv(r'C:/Users/Vishal/Desktop/Dissertation/temp.csv')
tmp

    team1  team2
0       1      2
1       2      3
2       3      4
3       4      5
4       5      6
5       6      7
6       7      8
7       8      9
8       9     10
9      10     11
10     11     12
11     12     13
12     13     14
13     14     15
14     15     16
15     16     17
16     17     18
17     18     19
18     19     20
19     20      1

In [36]:
a,b = map(int, input().split())
a,b

1 2

(1, 2)

In [38]:
tmp.loc[len(tmp.index)] = tuple(map(int, input().split()))
tmp

1 2

    team1  team2
0       1      2
1       2      3
2       3      4
3       4      5
4       5      6
5       6      7
6       7      8
7       8      9
8       9     10
9      10     11
10     11     12
11     12     13
12     13     14
13     14     15
14     15     16
15     16     17
16     17     18
17     18     19
18     19     20
19     20      1
20      1      2

In [39]:
gen_out = pd.get_dummies(tmp, columns=['Home_Team', 'Away_Team'])
gen_out.iloc[20:21]

KeyError: "None of [Index(['Home_Team', 'Away_Team'], dtype='object')] are in the [columns]"

In [40]:
pred = model.predict(gen_out.iloc[20:21])
list(map(int, list(map(np.round, pred))[0]))

NameError: name 'gen_out' is not defined